{% extends 'contact_users/base.html' %}

{% block body %}

<div class="container-sm">
  <div class="container mt-2 text-center">
    <h1 class="display-2">Success!</h1>
  </div>
  <div class="container mt-3 w-50">
    <p>&emsp;In a few moments you should receive an email that contains all of the weekly ads selected from your preferences.
      In addition, you have been added to the weekly mailing list! Each Wednesday, an email will be sent to you that
      contains your selection of grocery store ads.
      <br><br>
      &emsp;If you would like to change which stores to receive ads from, please return to the home page and refill out
      the grocery form with your new preferences and next week's emails will have your updated grocery list.
      <br><br>
      &emsp;Similarly, if you would like to unsubscribe from the mailing list please go to the bottom of the home page and click
      on the unsubscribe tab to remove your email from the mailing list.
      <br><br>
      I hope you find this web app useful and I wish you a good day :)
    </p>
  </div>
</div>

{% endblock %}
