{% extends 'contact_users/base.html' %}

{% block body %}

<div class="container-sm">
    <div class="container mt-2 text-center">
      <h1 class="display-2">Success!</h1>
    </div>
    <div class="container mt-3 w-50">
        <p>&emsp;You have successfully unsubscribed from the mailing list. Even though you are
            no longer on the mailing list I hope this tool has been useful for you :)
            <br><br>
            &emsp;If there are any persisting issues or if you are still receiving emails please feel free
            to contact me through my personal website linked on the top of this app and we can work to resolve any issues.
        </p>
    </div>
</div>


{% endblock %}